@media print {

    .budget-title,
    .presupuesto-side-panel-toggle-wrapper,
    .presupuesto-side-panel-toggle,
    .close-print-container,
    .print-save-button,
    .presupuesto-side-panel {
        display: none;
    }


    .modal,
    .presupuesto-modal-content,
    .presupuesto-modal-container {
        height: auto !important;
    }


    * {
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    ::-webkit-scrollbar {
        display: none;
    }


    .nav-column,
    .header-icons,
    .print-button,
    .page-title {
        display: none !important;
    }

    .hidden {
        display: none;
    }

    @page {
        size: auto;
        margin: 0;
        box-shadow: none !important;
        /* overflow: hidden; */
    }

    html {
        height: 100%;
    }

    #root {
        height: 99% !important;
    }

    .app {
        height: 100%;
    }

    main {
        margin: 0 !important;
        height: 100% !important;
    }

    body {
        transform: scale(0.98);
        width: 100%;
        max-height: 99%;
        /* height: 100%; */
        margin: 0 !important;
        padding: 0 !important;
        box-shadow: none !important;
        font-family: Arial, sans-serif;
        font-size: 8px;
        overflow: hidden;
    }


    span {
        display: block;
        width: 100%;
        text-align: left;
    }

    .logo-container {
        display: flex;
        justify-content: center;
    }

    .company-logo {
        height: 150px;
        width: auto;
        text-align: center;
        /* margin-top: -20px; */
        padding: 0px;
    }


    .presupuestador-container {
        border: none !important;
        width: 100%;
        background-color: #ffffff !important;
        font-size: small;
        box-shadow: none !important;
        position: relative;
        margin: 0 !important;
        /* top: -35px; */
    }

    .section {
        margin-bottom: 15px;
        box-shadow: none !important;
        flex-grow: 1;
        overflow: hidden;
    }

    .section>.vendedor-container {
        display: flex;
        flex-direction: row;
    }

    .detalle-vendedor,
    .fechas {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .cliente-direccion,
    .prov-loc-cp,
    .condicion-cuit,
    .iva-descuento {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .iva-descuento {
        border-top: 1px solid rgb(111, 107, 107) !important;
        margin-top: 8px !important;
        padding-top: 5px;
        align-items: center;
    }

    .section h3,
    .presupuesto-info-container {
        padding: 10px !important;
        border: 1px solid #7f7f7f !important;
        margin: 0 !important;
        margin-bottom: 10px !important;
        box-shadow: 1px 1px rgb(170, 169, 169) !important;
        position: static;
        z-index: 10;
    }

    .section label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px !important;
        box-shadow: none !important;
    }

    .section input,
    .section textarea {
        width: calc(100% - 10px) !important;
        padding: 3px !important;
        margin-bottom: 4px !important;
        border: 1px solid #ddd !important;
        border-radius: 4px !important;
        box-sizing: border-box !important;
        box-shadow: none !important;

    }

    .details-table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 5px !important;
        box-shadow: none !important;
    }

    .details-table th,
    .details-table td {
        border: 1px solid white !important;
        text-align: left !important;
        box-shadow: none !important;
        padding: 3px 3px;
        overflow: hidden;
    }

    .details-table th {
        background-color: #f0f0f0 !important;
        box-shadow: none !important;
        min-width: min-content !important;
    }

    #detalle-body input {
        width: auto !important;
        margin: 0 !important;
        box-shadow: none !important;

    }

    .footer-text {
        font-size: 12px !important;
        color: #555 !important;
        box-shadow: none !important;

    }

    label {
        flex: 0 0 auto;
        width: min-content;
        margin-right: 5px;
        align-items: center;
        padding-top: 7px;
    }

    .input-span {
        flex: 1;
        align-items: center;
    }

    .iva-and-totals {
        width: 100%;
        display: grid;
        grid-template-columns: 77% 1fr;
        padding: 10px;
        font-size: 1.1em;
    }

    .iva {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        white-space: nowrap;
        gap: 50px;
    }

    .iva section {
        display: flex;
        flex-direction: row !important;
        gap: 20px;
        align-items: flex-end !important;

    }

    #moneda-select {
        font-family: Arial, sans-serif;
        font-size: 11px;
        padding: 0px 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        appearance: none;
        -webkit-appearance: none;
        background-color: #fff;
        position: relative;
    }

    #moneda-select:focus {
        outline: none;
        border-color: #66afe9;
    }

    #totals {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 5px;
        font-size: 1.1em;
    }

    .separation {
        border-top: 1px solid lightgray;
        margin-top: 5px;
        padding-top: 5px;
    }

    .inside-totals {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        width: 100%;
        font-style: bold;
        white-space: nowrap;
    }


    .comentario-print {
        max-height: min-content;
    }

    #vendedor-h3 {
        padding: 0 230px;
        text-align: center;
        white-space: nowrap;
        position: relative;
        margin-bottom: 10px;
    }

    .presupuesto-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .presupuesto-header h2 {
        margin: 0 auto;
        text-align: center;
        position: relative;
        left: 40px;
    }

    .presupuesto-num {
        font-size: medium;
        position: relative;
    }


    .presupuesto-subtext {
        display: block;
        text-align: center;
        margin-top: 3px;
        font-size: 12px;
        color: gray;
    }

    .telefono-cliente-container {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    #moneda-select {
        position: relative;
        bottom: -2px;
    }

    [name="descripcion"] {
        flex-wrap: wrap;
    }

    /* FROM PRESUPUESTOS TABLE */
    .close-print-container {
        display: none;
    }

    #modal {
        position: relative;
        top: -400px;
    }

}
